<!DOCTYPE html>
<html lang="en">
<head>
  <title>Page counter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <style>
      h1{
          font-family:'pacifico', 'recursive';
      }
      body,html{
            height: 100%
      }
  </style>
</head>
<body class = "bg-dark">
    <div class="container d-flex align-items-center justify-content-center h-100">
        <h1 class="text-warning"> Page Counter: <span class="text-white"> {{c}}</span></h1>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>